<a href="https://colab.research.google.com/github/I-Git5G/python-learnings/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Name	Age	City
#Alice	25	New York
#Bob	30	Los Angeles
#Charlie	35	Chicago

import pandas as pd
data = {
     'name':['alice','bob','charlie'],
     'age':[25,30,35],
     'city':['newyork','los angeles','chicago']
 }

df = pd.DataFrame(data)
print(df)

      name  age         city
0    alice   25      newyork
1      bob   30  los angeles
2  charlie   35      chicago

In [ ]:
# Create a DataFrame from the following dictionary:
# ✅ Tasks:
# 1. Create the DataFrame.
# 2. Display the first 3 rows.
# 3. Display data types of each column
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 27, 22, 32, 29],
    'Score': [85, 62, 90, 70, 88]
}
df=pd.DataFrame(data)
print(df)
df=df.head(3)
print(df)
print(df.dtypes)

      Name  Age  Score
0    Alice   24     85
1      Bob   27     62
2  Charlie   22     90
3    David   32     70
4      Eva   29     88
      Name  Age  Score
0    Alice   24     85
1      Bob   27     62
2  Charlie   22     90
Name     object
Age       int64
Score     int64
dtype: object

In [ ]:
# ✅ Tasks:
# 1. Find the average age.
# 2. Find the maximum score.
# 3. Count how many people have a score above 80.

import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 27, 22, 32, 29],
    'Score': [85, 62, 90, 70, 88]
}
df=pd.DataFrame(data)
print(df)
average_age=df['Age'].mean()
print(average_age)
maximum_score=df['Score'].max()
print(maximum_score)
above_score=df[df['Score']>80]
print("people who have scored above 80:",above_score)

      Name  Age  Score
0    Alice   24     85
1      Bob   27     62
2  Charlie   22     90
3    David   32     70
4      Eva   29     88
26.8
90
people who have scored above 80:       Name  Age  Score
0    Alice   24     85
2  Charlie   22     90
4      Eva   29     88

In [ ]:
# ✅ Tasks:
# 1. Filter rows where Age is greater than 25.
# 2. Filter rows where Score is above 80 and Age is below 30.

import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 27, 22, 32, 29],
    'Score': [85, 62, 90, 70, 88]
}
df=pd.DataFrame(data)
print(df)
greater_age=df[df['Age']>25]
print("greater then 25 years:")
print(greater_age)
score_age=df[(df['Score']>80) & (df['Age']<30)]
print("People with Score > 80 and Age < 30:")
print(score_age)

      Name  Age  Score
0    Alice   24     85
1      Bob   27     62
2  Charlie   22     90
3    David   32     70
4      Eva   29     88
greater then 25 years:
    Name  Age  Score
1    Bob   27     62
3  David   32     70
4    Eva   29     88
People with Score > 80 and Age < 30:
      Name  Age  Score
0    Alice   24     85
2  Charlie   22     90
4      Eva   29     88

In [41]:
import pandas as pd

data = {
    'OrderID': [101, 102, 103, 104, 105, 106],
    'Customer': ['Alice', 'Bob', 'Alice', 'David', 'Eve', 'Frank'],
    'Product': ['Laptop', 'Tablet', 'Monitor', 'Laptop', 'Monitor', 'Tablet'],
    'Quantity': [1, 2, 1, 3, 2, 1],
    'Price': [1200, 300, 200, 1150, 220, 310],
    'OrderDate': ['2023-06-01', '2023-06-03', '2023-06-04', '2023-06-07', '2023-06-10', '2023-06-11']
}
#Display the first 3 rows of the DataFrame.
#Show all orders made by Alice.
#Calculate the total revenue (Price × Quantity).
#Add a new column called TotalAmount = Price × Quantity.
#Sort the DataFrame by TotalAmount in descending order.
#Find the most sold product by quantity.
#Calculate total revenue by each customer.
#How many unique products were sold?
#Group data by Product and calculate total revenue per product.
#Resample the sales by week and show total quantity sold.


import pandas as pd
df=pd.DataFrame(data)
print(df)

df.head(3)
alice_orders=df[df["Customer"]=="Alice"]
print(alice_orders)
Total_Revenue=df["Price"]*df["Quantity"]
print(Total_Revenue)
df['Total_amount']=df["Price"]*df["Quantity"]
print(df)
df=df.sort_values(by='Total_amount',ascending=False)
print(df)
product_sales = df.groupby('Product')['Quantity'].sum()
print(product_sales)

   OrderID Customer  Product  Quantity  Price   OrderDate
0      101    Alice   Laptop         1   1200  2023-06-01
1      102      Bob   Tablet         2    300  2023-06-03
2      103    Alice  Monitor         1    200  2023-06-04
3      104    David   Laptop         3   1150  2023-06-07
4      105      Eve  Monitor         2    220  2023-06-10
5      106    Frank   Tablet         1    310  2023-06-11
   OrderID Customer  Product  Quantity  Price   OrderDate
0      101    Alice   Laptop         1   1200  2023-06-01
2      103    Alice  Monitor         1    200  2023-06-04
0    1200
1     600
2     200
3    3450
4     440
5     310
dtype: int64
   OrderID Customer  Product  Quantity  Price   OrderDate  Total_amount
0      101    Alice   Laptop         1   1200  2023-06-01          1200
1      102      Bob   Tablet         2    300  2023-06-03           600
2      103    Alice  Monitor         1    200  2023-06-04           200
3      104    David   Laptop         3   1150  2023-06-07          3450
4      105      Eve  Monitor         2    220  2023-06-10           440
5      106    Frank   Tablet         1    310  2023-06-11           310
   OrderID Customer  Product  Quantity  Price   OrderDate  Total_amount
3      104    David   Laptop         3   1150  2023-06-07          3450
0      101    Alice   Laptop         1   1200  2023-06-01          1200
1      102      Bob   Tablet         2    300  2023-06-03           600
4      105      Eve  Monitor         2    220  2023-06-10           440
5      106    Frank   Tablet         1    310  2023-06-11           310
2      103    Alice  Monitor         1    200  2023-06-04           200
Product
Laptop     4
Monitor    3
Tablet     3
Name: Quantity, dtype: int64