<a href="https://colab.research.google.com/github/I-Git5G/python-learnings/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#unpack tuple
student = ("John", 22, "Math")
(name,age,major) = student
print(name)
print(age)
print(major)

John
22
Math

In [8]:
#tuple method
numbers = (1, 2, 3, 4, 5)
print(numbers[3])
count=numbers.count(3)
print(count)

4
1

In [9]:
#tuple concatenation
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result= tuple1 + tuple2
print(result)

(1, 2, 3, 4, 5, 6)

In [14]:
#slicing tuple
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(numbers[3:8])

(4, 5, 6, 7, 8)

In [17]:
#to change a tuple we have to change it in to list
x = ("apple", "banana", "cherry")
y=list(x)
y[1]="mango"
x=tuple(y)
print(x)

('apple', 'mango', 'cherry')